<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>letterboxfm</title>
  </head>
  <body>
    <header>
      <h1>letterboxfm</h1>
      <h4>Bem-vindo!</h4>
    </header>
    <div>
      <form action="/entrar" method="post">
        <input type="text" name="nome" placeholder="Nome" />
        <br />
        <input type="text" name="email" placeholder="E-mail" />
        <br />
        <button type="submit">Entrar</button>
      </form>
    </div>
    <footer>
      <small>PWeb2 - Agenda de contatos</small>
    </footer>
  </body>
</html>
