<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/feed.css" />
    <title>LETTERBOX.FM</title>
  </head>
  <body>
    <div class="feed-header">
      <img src="/images/musica.png" alt="music icon">
      <h1>bem-vindo ao letterbox.fm <%- usuario.nome %></h1>
    </div>
    <div class="logout">
      <a href="/sair">Sair</a>
    </div>
  </body>
</html>
